{% if scaladoc %}
{{ scaladoc }}
{% endif %}
enum {{ name }} {
{% for value in values %}
{% if value.description or value.meaning %}
  /**
{% if value.description %}
   * {{ value.description }}
{% endif %}
{% if value.meaning %}
   * @see {{ value.meaning }}
{% endif %}
   */
{% endif %}
  case {{ value.name }}
{% endfor %}
}
