case class {{ name }}(
{% for field in fields %}
  {{ field.name }}: {{ field.scala_type }}{{ field.default }}{{ "," if not loop.last }}
{% endfor %}
){% if parent %} extends {{ parent }}{% endif %}{% for m in mixins %} with {{ m }}{% endfor %}
